body {
  display: flex;
  flex-direction: column;
  justify-content: center;

  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

.toolbar {
  display: flex;

  width: 100%;
  height: 64px;
  margin-bottom: 16px;

  background-color: #8BC34A;
  box-shadow: 0 4px 5px #888888;

  font-size: 34px;
  align-items: center;
}

/* Toolbar title */
.toolbar > div {
  opacity: 0.87;
  margin-left: 15px;
}

/* Main container (card) */
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;

  width: 80%;
  height: 100%;

  margin-left: auto;
  margin-right: auto;
  margin-bottom: 15px;

  border-radius: 2px;
  box-shadow: 0 5px 10px #888888;
}

/* Typography */
.typo-headline {
  font-family: 'Roboto', sans-serif;
  font-size: 24px;
  opacity: 0.87;
}

.typo-code {
  font-family: 'Roboto Mono', monospace;
}

.headline {
  margin: 15px;
}

/* Expresion text field */
input {
  font-size: 24px;

  margin-left: 15px;
  margin-right: 15px;
}

/* User guide */
.user-guide {
  padding: 15px;

  margin-top: 15px;
  margin-bottom: 15px;

  background-color: #F1F8E9;
}

.user-guide > .notice {
  margin-top: 25px;
}

/* Tautology */
.is-tautology {
  margin: 25px;
  font-size: 34px;

  display: none;
}

.is-tautology .is {
  color: #4CAF50;
  display: none;
}

.is-tautology .is-not {
  color: #F44336;
  display: none;
}

/* Graph */
.graph {
  display: none;
  margin-top: 15px;
}

.graph div {
  margin-left: 15px;
}

.graph .renderer {
  margin: 0;
  margin-top: 5px;
  height: 800px;
  border: 1px solid #EEEEEE;
}

/* Table */
.table {
  margin: 15px;
  display: none;
}

table {
  margin-top: 10px;
  font-size: 18px;

  border-collapse: collapse;
  border: 1px solid black;
}

th {
  opacity: 0.87;
  padding: 5px;
}

td {
  min-width: 18px;
  text-align: center;
}

table .result {
  text-align: right;
}

table .title {
  background-color: #AED581;
}

table .true {
  background-color: #C5E1A5;
}
